<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">POKEMONS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/firstgeneration">First
          Gen</a>
        <a class="nav-link" aria-current="page" href="/secondgeneration">Second
          Gen</a>
        <a class="nav-link" aria-current="page" href="/thirdgeneration">Third
          Gen</a>
        <a class="nav-link" aria-current="page" href="/fourthgeneration">Fourth
          Gen</a>
        <a class="nav-link" aria-current="page" href="/fifthgeneration">Fifth
          Gen</a>
      </div>
    </div>
  </div>
</nav>