.home{
    background-image: url("https://wallpapercave.com/wp/8bqaVUh.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height:100vh;
}